@media screen and (min-width:960px) {
    .services{
        list-style-type: none;
        border: 1px solid #FFF;
        border-radius: 5px;
        background-color: rgb(206, 206, 206);
        width: 45%;
        margin: 0 auto;
    }

    .service-items {
        line-height: 300%;
    }
}