{% extends "layout.jinja2" %}

{% block body %}
    <div class='home-bg-img'>
        <div class="home-content">
            <h1>Sam Houston Enterprises, LLC.</h1>
            <h3>Creative Consulting Solutions</h3>
        </div>
    </div>
{% endblock body %}
