{% extends "layout.jinja2" %}

{% block body %}
    <div class='featured-section-div'>
        <div class="home-content">
            <h1>Sam Houston Enterprises, LLC.</h1>
            <h3>Creative Consulting Solutions</h3>
            <ul class="services">
                <li class="service-items">Web Design</li>
                <li class="service-items">Software Development</li>
                <li class="service-items">Operations Efficiency</li>
                <li class="service-items">Advertising and Marketing</li>
            </ul>
        </div>
    </div>
{% endblock body %}
