<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Conor Clary, Sam Houston Enterprises">
    <title>{% block title %} Sam Houston Enterprises {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('shellc:static/styles/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('shellc:static/styles/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('shellc:static/styles/modules.css') }}">
  </head>

  <body>
    <header>
        <h3 class='header-menu'><nav>
            <a class='header-menu-a' href="{{ request.route_url('home')}}">Home</a>
            <a class='header-menu-a' href="">Services</a>
            <a class='header-menu-a' href="">Contact</a>
        </nav></h3>
    </header>
    {% block body %}{% endblock %}
  </body>
</html>
