<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Conor Clary, Sam Houston Enterprises">
    <title>{% block title %} Sam Houston Enterprises {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('shellc:static/styles/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('shellc:static/styles/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('shellc:static/styles/modules.css') }}">
  </head>

  <body>
    <header id="header">
      <nav id="header-content">
        <ul id="nav-bar">
          <a href="{{ request.route_url('home')}}"><li class="nav-items">Home</li></a>
          <a href=""><li class="nav-items">Services</li></a>
          <a href=""><li class="nav-items">Contact</li></a>
        </ul>
      </nav>
    </header>
    {% block body %}
    {% endblock %}
  </body>
</html>