beautifulsoup4==4.5.3
coverage==4.3.4
decorator==4.0.11
hupper==0.4.3
ipython==5.3.0
ipython-genutils==0.1.0
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==1.0
passlib==1.7.1
PasteDeploy==1.5.2
pexpect==4.2.1
pickleshare==0.7.4
pluggy==0.4.0
prompt-toolkit==1.0.13
psycopg2==2.7
ptyprocess==0.5.1
py==1.4.32
Pygments==2.2.0
pyramid==1.8.2
pyramid-debugtoolbar==3.0.5
pyramid-ipython==0.2
pyramid-jinja2==2.7
pyramid-mako==1.0.2
pyramid-tm==1.1.1
pytest==3.0.6
pytest-cov==2.4.0
repoze.lru==0.6
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.6
tox==2.6.0
traitlets==4.3.2
transaction==2.1.0
translationstring==1.3
venusian==1.0
virtualenv==15.1.0
waitress==1.0.2
wcwidth==0.1.7
WebOb==1.7.1
WebTest==2.0.26
zope.deprecation==4.2.0
zope.interface==4.3.3
zope.sqlalchemy==0.7.7
